# Capstone Project: Predicting Fraudulent Transactions Using Machine Learning - Preprocessing

## Author: Tolulope Oludemi

## Date: August 8, 2022

---

# Table of Contents

---

[I. Data Preprocessing](#Data-Preprocessing)<br>

[II. Import Libraries and Cleaned Dataset](#Import-Libraries-and-Cleaned-Dataset)<br>

[III. Converting to Numerical Variables](#Converting-to-Numerical-Variables)<br>
- [`trans_date_trans_time` Column](#trans_date_trans_time-Column)<br>
    - [Extracting from DateTime Column](#Extracting-Year,-Month,-Day,-and-Hour)<br>
- [`dob` Column](#dob-Column)<br>
    - [Extracting from DateTime Column](#Extracting-the-Year-from-the-dob-Column)<br>

[IV. Columns to Transform to Numeric Variables](#Columns-to-Transform-to-Numeric-Variables)<br>

[V. One Hot Encoding the Categorical Columns](#One-Hot-Encoding-the-Categorical-Columns)<br>

[VI. Summary of Notebook](#Summary)<br>

# Data Preprocessing


In this notebook, I will be loading the cleaned up and feature engineered dataset (cleaned_cc_trans_df.csv) and processing it to be model ready. This includes transforming categorical columns to numeric columns.

---

# Import Libraries and Cleaned Dataset

In [ ]:
# import necessary libraries

import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Using GoogleColab so I need to set a path for where the data is located

from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Read in the cleaned dataset

cc_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data/cleaned_cc_trans_df.csv", index_col=0)


# Inspect the data
cc_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud
5,2019-01-01 00:04:08,4767265376804500,"Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,Dublin,...,18917,40.3750,-75.2045,2158,Transport planner,1961-06-19 00:00:00,1325376248,40.653382,-76.152667,0
7,2019-01-01 00:05:08,6011360759745864,Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,Edinburg,...,22824,38.8432,-78.6003,6018,Designer,1947-08-21 00:00:00,1325376308,38.948089,-78.540296,0
12,2019-01-01 00:06:56,180042946491150,Lockman Ltd,grocery_pos,71.22,Charles,Robles,M,3337 Lisa Divide,Saint Petersburg,...,33710,27.7898,-82.7243,341043,Engineer,1989-02-28 00:00:00,1325376416,27.630593,-82.308891,0
14,2019-01-01 00:09:03,3514865930894695,Beier-Hyatt,shopping_pos,7.77,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,...,88325,32.9396,-105.8189,899,Naval architect,1967-08-30 00:00:00,1325376543,32.863258,-106.520205,0
15,2019-01-01 00:09:20,6011999606625827,Schmidt and Sons,shopping_net,3.26,Ronald,Carson,M,870 Rocha Drive,Harrington Park,...,7640,40.9918,-73.9800,4664,Radiographer,1965-06-30 00:00:00,1325376560,41.831174,-74.335559,0

In [ ]:
# Confirm the shape of the dataset

cc_df.shape

(128802, 21)

In [ ]:
# Check for NaNs

cc_df.isna().sum().sum()

0

In [ ]:
# Check for duplicates

cc_df.duplicated().sum()

0

In [ ]:
# Check datatypes for each column

cc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128802 entries, 5 to 1296642
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  128802 non-null  object
 1   cc_num                 128802 non-null  int64
 2   merchant               128802 non-null  object
 3   category               128802 non-null  object
 4   amt                    128802 non-null  float64
 5   first                  128802 non-null  object
 6   last                   128802 non-null  object
 7   gender                 128802 non-null  object
 8   street                 128802 non-null  object
 9   city                   128802 non-null  object
 10  state                  128802 non-null  object
 11  zip                    128802 non-null  int64
 12  lat                    128802 non-null  float64
 13  long                   128802 non-null  float64
 14  city_pop               128802 non-null  int64
 15  job                    128802 non-null  object
 16  dob                    128802 non-null  object
 17  unix_time              128802 non-null  int64
 18  merch_lat              128802 non-null  float64
 19  merch_long             128802 non-null  float64
 20  is_fraud               128802 non-null  int64
dtypes: float64(5), int64(5), object(11)
memory usage: 21.6+ MB

There are 11 columns that are categorical columns that need to be converted to numeric columns. These are:

1. `trans_date_trans_time`
2. `merchant`
3. `category`
4. `first`
5. `last`
6. `gender`
7. `street`
8. `city`
9. `state`
10. `job`
11. `dob`

# Converting to Numerical Variables

## `trans_date_trans_time` Column


The first column that will be transformed is the transaction date and time column. It will need to be in a `datetime64` data type format. I will also be extracting the year, month, weekday, and hour from the column.

In [ ]:
# Change to datetime format

cc_df['trans_date_trans_time'] = cc_df["trans_date_trans_time"].astype('datetime64')

In [ ]:
# Make sure it worked

cc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128802 entries, 5 to 1296642
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  128802 non-null  datetime64[ns]
 1   cc_num                 128802 non-null  int64
 2   merchant               128802 non-null  object
 3   category               128802 non-null  object
 4   amt                    128802 non-null  float64
 5   first                  128802 non-null  object
 6   last                   128802 non-null  object
 7   gender                 128802 non-null  object
 8   street                 128802 non-null  object
 9   city                   128802 non-null  object
 10  state                  128802 non-null  object
 11  zip                    128802 non-null  int64
 12  lat                    128802 non-null  float64
 13  long                   128802 non-null  float64
 14  city_pop               128802 non-null  int64
 15  job                    128802 non-null  object
 16  dob                    128802 non-null  object
 17  unix_time              128802 non-null  int64
 18  merch_lat              128802 non-null  float64
 19  merch_long             128802 non-null  float64
 20  is_fraud               128802 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(10)
memory usage: 21.6+ MB

In [ ]:
# Checking to make sure nothing unusual happened in the dataset

cc_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud
5,2019-01-01 00:04:08,4767265376804500,"Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,Dublin,...,18917,40.3750,-75.2045,2158,Transport planner,1961-06-19 00:00:00,1325376248,40.653382,-76.152667,0
7,2019-01-01 00:05:08,6011360759745864,Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,Edinburg,...,22824,38.8432,-78.6003,6018,Designer,1947-08-21 00:00:00,1325376308,38.948089,-78.540296,0
12,2019-01-01 00:06:56,180042946491150,Lockman Ltd,grocery_pos,71.22,Charles,Robles,M,3337 Lisa Divide,Saint Petersburg,...,33710,27.7898,-82.7243,341043,Engineer,1989-02-28 00:00:00,1325376416,27.630593,-82.308891,0
14,2019-01-01 00:09:03,3514865930894695,Beier-Hyatt,shopping_pos,7.77,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,...,88325,32.9396,-105.8189,899,Naval architect,1967-08-30 00:00:00,1325376543,32.863258,-106.520205,0
15,2019-01-01 00:09:20,6011999606625827,Schmidt and Sons,shopping_net,3.26,Ronald,Carson,M,870 Rocha Drive,Harrington Park,...,7640,40.9918,-73.9800,4664,Radiographer,1965-06-30 00:00:00,1325376560,41.831174,-74.335559,0

### Extracting Year, Month, Day, and Hour

In [ ]:
# Adding new columns for the transaction year, month, day and hour

cc_df['trans_year'] = cc_df['trans_date_trans_time'].dt.year
cc_df['trans_month'] = cc_df['trans_date_trans_time'].dt.month
cc_df['trans_day'] = cc_df['trans_date_trans_time'].dt.day
cc_df['trans_hour'] = cc_df['trans_date_trans_time'].dt.hour


# Check to make sure it worked
cc_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,job,dob,unix_time,merch_lat,merch_long,is_fraud,trans_year,trans_month,trans_day,trans_hour
5,2019-01-01 00:04:08,4767265376804500,"Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,Dublin,...,Transport planner,1961-06-19 00:00:00,1325376248,40.653382,-76.152667,0,2019,1,1,0
7,2019-01-01 00:05:08,6011360759745864,Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,Edinburg,...,Designer,1947-08-21 00:00:00,1325376308,38.948089,-78.540296,0,2019,1,1,0
12,2019-01-01 00:06:56,180042946491150,Lockman Ltd,grocery_pos,71.22,Charles,Robles,M,3337 Lisa Divide,Saint Petersburg,...,Engineer,1989-02-28 00:00:00,1325376416,27.630593,-82.308891,0,2019,1,1,0
14,2019-01-01 00:09:03,3514865930894695,Beier-Hyatt,shopping_pos,7.77,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,...,Naval architect,1967-08-30 00:00:00,1325376543,32.863258,-106.520205,0,2019,1,1,0
15,2019-01-01 00:09:20,6011999606625827,Schmidt and Sons,shopping_net,3.26,Ronald,Carson,M,870 Rocha Drive,Harrington Park,...,Radiographer,1965-06-30 00:00:00,1325376560,41.831174,-74.335559,0,2019,1,1,0

In [ ]:
# After making sure it worked, I will now drop the original column

cc_df.drop('trans_date_trans_time', axis=1, inplace=True)
cc_df.head()

,cc_num,merchant,category,amt,first,last,gender,street,city,state,...,job,dob,unix_time,merch_lat,merch_long,is_fraud,trans_year,trans_month,trans_day,trans_hour
5,4767265376804500,"Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,Dublin,PA,...,Transport planner,1961-06-19 00:00:00,1325376248,40.653382,-76.152667,0,2019,1,1,0
7,6011360759745864,Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,Edinburg,VA,...,Designer,1947-08-21 00:00:00,1325376308,38.948089,-78.540296,0,2019,1,1,0
12,180042946491150,Lockman Ltd,grocery_pos,71.22,Charles,Robles,M,3337 Lisa Divide,Saint Petersburg,FL,...,Engineer,1989-02-28 00:00:00,1325376416,27.630593,-82.308891,0,2019,1,1,0
14,3514865930894695,Beier-Hyatt,shopping_pos,7.77,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,NM,...,Naval architect,1967-08-30 00:00:00,1325376543,32.863258,-106.520205,0,2019,1,1,0
15,6011999606625827,Schmidt and Sons,shopping_net,3.26,Ronald,Carson,M,870 Rocha Drive,Harrington Park,NJ,...,Radiographer,1965-06-30 00:00:00,1325376560,41.831174,-74.335559,0,2019,1,1,0

In [ ]:
# Checking the shape of the new dataset

cc_df.shape

(128802, 24)

## `dob` Column

For the date of birth column, I will be changing it to the appropriate data type, "datetime64". Afterwards, I will be extracting the year of birth and dropping the month and day of birth, because the year of birth is more significant than the month and day of birth.

In [ ]:
# Changing to the datetime format

cc_df['dob'] = cc_df['dob'].astype('datetime64')

cc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128802 entries, 5 to 1296642
Data columns (total 24 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   cc_num       128802 non-null  int64
 1   merchant     128802 non-null  object
 2   category     128802 non-null  object
 3   amt          128802 non-null  float64
 4   first        128802 non-null  object
 5   last         128802 non-null  object
 6   gender       128802 non-null  object
 7   street       128802 non-null  object
 8   city         128802 non-null  object
 9   state        128802 non-null  object
 10  zip          128802 non-null  int64
 11  lat          128802 non-null  float64
 12  long         128802 non-null  float64
 13  city_pop     128802 non-null  int64
 14  job          128802 non-null  object
 15  dob          128802 non-null  datetime64[ns]
 16  unix_time    128802 non-null  int64
 17  merch_lat    128802 non-null  float64
 18  merch_long   128802 non-null  float64
 19  is_fraud     128802 non-null  int64
 20  trans_year   128802 non-null  int64
 21  trans_month  128802 non-null  int64
 22  trans_day    128802 non-null  int64
 23  trans_hour   128802 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(9), object(9)
memory usage: 24.6+ MB

### Extracting the Year from the `dob` Column

In [ ]:
# Adding a new column for the year of birth

cc_df['dob_year'] = cc_df['dob'].dt.year


# Checking to make sure it worked
cc_df.head()

,cc_num,merchant,category,amt,first,last,gender,street,city,state,...,dob,unix_time,merch_lat,merch_long,is_fraud,trans_year,trans_month,trans_day,trans_hour,dob_year
5,4767265376804500,"Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,Dublin,PA,...,1961-06-19,1325376248,40.653382,-76.152667,0,2019,1,1,0,1961
7,6011360759745864,Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,Edinburg,VA,...,1947-08-21,1325376308,38.948089,-78.540296,0,2019,1,1,0,1947
12,180042946491150,Lockman Ltd,grocery_pos,71.22,Charles,Robles,M,3337 Lisa Divide,Saint Petersburg,FL,...,1989-02-28,1325376416,27.630593,-82.308891,0,2019,1,1,0,1989
14,3514865930894695,Beier-Hyatt,shopping_pos,7.77,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,NM,...,1967-08-30,1325376543,32.863258,-106.520205,0,2019,1,1,0,1967
15,6011999606625827,Schmidt and Sons,shopping_net,3.26,Ronald,Carson,M,870 Rocha Drive,Harrington Park,NJ,...,1965-06-30,1325376560,41.831174,-74.335559,0,2019,1,1,0,1965

In [ ]:
# Checking the new shape of the dataset

cc_df.drop('dob', axis=1, inplace=True)
cc_df.shape

(128802, 24)

In [ ]:
# See the updated datatypes for the columns 

cc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128802 entries, 5 to 1296642
Data columns (total 24 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   cc_num       128802 non-null  int64
 1   merchant     128802 non-null  object
 2   category     128802 non-null  object
 3   amt          128802 non-null  float64
 4   first        128802 non-null  object
 5   last         128802 non-null  object
 6   gender       128802 non-null  object
 7   street       128802 non-null  object
 8   city         128802 non-null  object
 9   state        128802 non-null  object
 10  zip          128802 non-null  int64
 11  lat          128802 non-null  float64
 12  long         128802 non-null  float64
 13  city_pop     128802 non-null  int64
 14  job          128802 non-null  object
 15  unix_time    128802 non-null  int64
 16  merch_lat    128802 non-null  float64
 17  merch_long   128802 non-null  float64
 18  is_fraud     128802 non-null  int64
 19  trans_year   128802 non-null  int64
 20  trans_month  128802 non-null  int64
 21  trans_day    128802 non-null  int64
 22  trans_hour   128802 non-null  int64
 23  dob_year     128802 non-null  int64
dtypes: float64(5), int64(10), object(9)
memory usage: 24.6+ MB

# Columns to Transform to Numeric Variables

1. merchant
2. category
3. first
4. last
5. gender
6. state
7. job

**Columns to Drop from Categorical Columns**
1. street (unique to first and last names, and represented by lat and long)
2. city (represented by state in a way - might not be useful to the model)

Now that I know the columns that will be converted to numeric, I will use One Hot Encoding and Column Transformer to convert the categorical columns to numeric.

# One Hot Encoding the Categorical Columns

In [ ]:
# Import necessary methods

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


# Putting the columns to be transformed in a list with the method to be used
column_transform_list = [
                         ('merchant_transform', OneHotEncoder(), ['merchant']),
                         ('category_transform', OneHotEncoder(), ['category']),
                         ('first_tranform', OneHotEncoder(), ['first']),
                         ('last_transform', OneHotEncoder(), ['last']),
                         ('gender_transform', OneHotEncoder(), ['gender']),
                         ('state_transform', OneHotEncoder(), ['state']),
                         ('job_transform', OneHotEncoder(), ['job'])
]

# Creating the column transformer
column_transformer = ColumnTransformer(column_transform_list)

# Fit it on the original dataset
column_transformer.fit(cc_df)

ColumnTransformer(transformers=[('merchant_transform', OneHotEncoder(),
                                 ['merchant']),
                                ('category_transform', OneHotEncoder(),
                                 ['category']),
                                ('first_tranform', OneHotEncoder(), ['first']),
                                ('last_transform', OneHotEncoder(), ['last']),
                                ('gender_transform', OneHotEncoder(),
                                 ['gender']),
                                ('state_transform', OneHotEncoder(), ['state']),
                                ('job_transform', OneHotEncoder(), ['job'])])

In [ ]:
# Get column names
column_transformer.get_feature_names()

['merchant_transform__x0_Altenwerth, Cartwright and Koss',
 'merchant_transform__x0_Ankunding LLC',
 'merchant_transform__x0_Auer-Mosciski',
 'merchant_transform__x0_Auer-West',
 'merchant_transform__x0_Bahringer, Schoen and Corkery',
 'merchant_transform__x0_Bailey-Morar',
 'merchant_transform__x0_Barrows PLC',
 'merchant_transform__x0_Bartoletti-Wunsch',
 'merchant_transform__x0_Barton Inc',
 'merchant_transform__x0_Bashirian Group',
 'merchant_transform__x0_Bauch-Raynor',
 'merchant_transform__x0_Baumbach, Feeney and Morar',
 'merchant_transform__x0_Baumbach, Hodkiewicz and Walsh',
 'merchant_transform__x0_Baumbach, Strosin and Nicolas',
 'merchant_transform__x0_Bednar Group',
 'merchant_transform__x0_Beier-Hyatt',
 'merchant_transform__x0_Bernhard Inc',
 'merchant_transform__x0_Bernhard, Grant and Langworth',
 'merchant_transform__x0_Bernier, Volkman and Hoeger',
 'merchant_transform__x0_Bins-Rice',
 'merchant_transform__x0_Block-Parisian',
 'merchant_transform__x0_Bogisich Inc',
 'merchant_transform__x0_Bogisich-Homenick',
 'merchant_transform__x0_Botsford Ltd',
 'merchant_transform__x0_Boyer PLC',
 'merchant_transform__x0_Boyer-Reichert',
 'merchant_transform__x0_Bradtke PLC',
 'merchant_transform__x0_Brekke and Sons',
 'merchant_transform__x0_Brown PLC',
 'merchant_transform__x0_Cartwright-Harris',
 'merchant_transform__x0_Casper, Hand and Zulauf',
 'merchant_transform__x0_Christiansen, Goyette and Schamberger',
 'merchant_transform__x0_Cole PLC',
 'merchant_transform__x0_Connelly, Reichert and Fritsch',
 'merchant_transform__x0_Conroy Ltd',
 'merchant_transform__x0_Conroy-Cruickshank',
 'merchant_transform__x0_Cormier LLC',
 'merchant_transform__x0_Corwin-Collins',
 'merchant_transform__x0_Corwin-Gorczany',
 'merchant_transform__x0_Cummerata-Jones',
 'merchant_transform__x0_Cummings LLC',
 'merchant_transform__x0_Dach-Nader',
 'merchant_transform__x0_Daugherty, Pouros and Beahan',
 "merchant_transform__x0_Deckow-O'Conner",
 'merchant_transform__x0_Denesik and Sons',
 'merchant_transform__x0_Donnelly PLC',
 'merchant_transform__x0_Dooley Inc',
 'merchant_transform__x0_Dooley-Thompson',
 'merchant_transform__x0_Douglas, Schneider and Turner',
 'merchant_transform__x0_Doyle Ltd',
 'merchant_transform__x0_DuBuque LLC',
 'merchant_transform__x0_Durgan-Auer',
 'merchant_transform__x0_Eichmann, Bogan and Rodriguez',
 'merchant_transform__x0_Emard Inc',
 'merchant_transform__x0_Erdman-Kertzmann',
 'merchant_transform__x0_Ferry, Lynch and Kautzer',
 'merchant_transform__x0_Fisher Inc',
 'merchant_transform__x0_Fisher-Schowalter',
 'merchant_transform__x0_Flatley-Durgan',
 'merchant_transform__x0_Friesen-Stamm',
 'merchant_transform__x0_Gerlach Inc',
 'merchant_transform__x0_Gislason Group',
 'merchant_transform__x0_Gleason-Macejkovic',
 'merchant_transform__x0_Goldner, Kovacek and Abbott',
 'merchant_transform__x0_Goodwin-Nitzsche',
 'merchant_transform__x0_Gottlieb, Considine and Schultz',
 'merchant_transform__x0_Goyette Inc',
 'merchant_transform__x0_Goyette, Howell and Collier',
 'merchant_transform__x0_Greenfelder, Bartoletti and Davis',
 'merchant_transform__x0_Greenholt, Jacobi and Gleason',
 "merchant_transform__x0_Greenholt, O'Hara and Balistreri",
 'merchant_transform__x0_Hackett-Lueilwitz',
 'merchant_transform__x0_Haley, Jewess and Bechtelar',
 'merchant_transform__x0_Hamill-Daugherty',
 'merchant_transform__x0_Harber Inc',
 'merchant_transform__x0_Harris Inc',
 'merchant_transform__x0_Hayes, Marquardt and Dibbert',
 'merchant_transform__x0_Heathcote LLC',
 'merchant_transform__x0_Heathcote, Yost and Kertzmann',
 'merchant_transform__x0_Heidenreich PLC',
 'merchant_transform__x0_Heller, Gutmann and Zieme',
 'merchant_transform__x0_Heller-Langosh',
 'merchant_transform__x0_Herman, Treutel and Dickens',
 'merchant_transform__x0_Hermann and Sons',
 'merchant_transform__x0_Hickle Group',
 'merchant_transform__x0_Hills-Witting',
 'merchant_transform__x0_Hudson-Grady',
 'merchant_transform__x0_Hudson-Ratke',
 'merchant_transform__x0_Huel Ltd',
 'merchant_transform__x0_Huel, Hammes and Witting',
 'merchant_transform__x0_Huel-Langworth',
 'merchant_transform__x0_Huels-Hahn',
 'merchant_transform__x0_Jacobi and Sons',
 'merchant_transform__x0_Jaskolski-Vandervort',
 'merchant_transform__x0_Jast Ltd',
 'merchant_transform__x0_Jast-McDermott',
 'merchant_transform__x0_Jenkins, Hauck and Friesen',
 'merchant_transform__x0_Jewess LLC',
 'merchant_transform__x0_Johnson, Runolfsdottir and Mayer',
 'merchant_transform__x0_Jones, Sawayn and Romaguera',
 'merchant_transform__x0_Kassulke PLC',
 'merchant_transform__x0_Kerluke Inc',
 'merchant_transform__x0_Kerluke PLC',
 'merchant_transform__x0_Kerluke, Considine and Macejkovic',
 'merchant_transform__x0_Kerluke, Kertzmann and Wiza',
 'merchant_transform__x0_Kerluke-Abshire',
 'merchant_transform__x0_Kiehn Inc',
 'merchant_transform__x0_Kiehn-Emmerich',
 'merchant_transform__x0_Kihn Inc',
 'merchant_transform__x0_Kihn, Abernathy and Douglas',
 'merchant_transform__x0_Kilback LLC',
 'merchant_transform__x0_Kling Inc',
 'merchant_transform__x0_Klocko LLC',
 'merchant_transform__x0_Koelpin and Sons',
 'merchant_transform__x0_Koepp-Parker',
 'merchant_transform__x0_Koepp-Witting',
 'merchant_transform__x0_Koss and Sons',
 'merchant_transform__x0_Kovacek, Dibbert and Ondricka',
 'merchant_transform__x0_Kozey-Boehm',
 'merchant_transform__x0_Kris-Padberg',
 'merchant_transform__x0_Kris-Weimann',
 'merchant_transform__x0_Kuhic Inc',
 'merchant_transform__x0_Kuhic LLC',
 'merchant_transform__x0_Kuhic, Bins and Pfeffer',
 'merchant_transform__x0_Kuhn LLC',
 'merchant_transform__x0_Kunde-Sanford',
 'merchant_transform__x0_Kunze Inc',
 'merchant_transform__x0_Kuphal-Bartoletti',
 'merchant_transform__x0_Kuphal-Predovic',
 'merchant_transform__x0_Kutch LLC',
 'merchant_transform__x0_Kutch and Sons',
 'merchant_transform__x0_Kuvalis Ltd',
 'merchant_transform__x0_Labadie, Treutel and Bode',
 'merchant_transform__x0_Langworth, Boehm and Gulgowski',
 'merchant_transform__x0_Lebsack and Sons',
 'merchant_transform__x0_Ledner-Pfannerstill',
 'merchant_transform__x0_Lehner, Mosciski and King',
 'merchant_transform__x0_Lemke-Gutmann',
 'merchant_transform__x0_Lesch Ltd',
 'merchant_transform__x0_Lind, Huel and McClure',
 'merchant_transform__x0_Little, Gutmann and Lynch',
 'merchant_transform__x0_Lockman Ltd',
 'merchant_transform__x0_Lockman, West and Runte',
 'merchant_transform__x0_Luettgen PLC',
 'merchant_transform__x0_Lynch Ltd',
 'merchant_transform__x0_Macejkovic-Lesch',
 'merchant_transform__x0_Mante Group',
 'merchant_transform__x0_Marks Inc',
 'merchant_transform__x0_Mayert Group',
 'merchant_transform__x0_McDermott-Weimann',
 'merchant_transform__x0_McGlynn-Heathcote',
 'merchant_transform__x0_Medhurst PLC',
 'merchant_transform__x0_Metz-Boehm',
 'merchant_transform__x0_Miller-Harris',
 'merchant_transform__x0_Miller-Hauck',
 'merchant_transform__x0_Moen, Reinger and Murphy',
 'merchant_transform__x0_Mohr Inc',
 'merchant_transform__x0_Mohr-Bayer',
 'merchant_transform__x0_Moore, Dibbert and Koepp',
 'merchant_transform__x0_Morissette PLC',
 'merchant_transform__x0_Mosciski, Gislason and Mertz',
 'merchant_transform__x0_Mosciski, Ziemann and Farrell',
 'merchant_transform__x0_Mraz-Herzog',
 'merchant_transform__x0_Murray-Smitham',
 'merchant_transform__x0_Nader-Heller',
 'merchant_transform__x0_Nicolas, Hills and McGlynn',
 'merchant_transform__x0_Nitzsche, Kessler and Wolff',
 "merchant_transform__x0_O'Keefe-Hudson",
 'merchant_transform__x0_Okuneva, Schneider and Rau',
 'merchant_transform__x0_Olson, Becker and Koch',
 'merchant_transform__x0_Osinski, Ledner and Leuschke',
 'merchant_transform__x0_Pacocha-Bauch',
 "merchant_transform__x0_Pacocha-O'Reilly",
 'merchant_transform__x0_Padberg-Welch',
 'merchant_transform__x0_Pagac LLC',
 'merchant_transform__x0_Parisian and Sons',
 'merchant_transform__x0_Parisian, Schiller and Altenwerth',
 'merchant_transform__x0_Pfeffer and Sons',
 'merchant_transform__x0_Pouros-Conroy',
 'merchant_transform__x0_Pouros-Haag',
 'merchant_transform__x0_Predovic Inc',
 'merchant_transform__x0_Price Inc',
 'merchant_transform__x0_Prohaska-Murray',
 'merchant_transform__x0_Quitzon, Green and Bashirian',
 'merchant_transform__x0_Rau and Sons',
 'merchant_transform__x0_Reichert, Huels and Hoppe',
 'merchant_transform__x0_Reichert, Rowe and Mraz',
 'merchant_transform__x0_Reichert, Shanahan and Hayes',
 'merchant_transform__x0_Reilly, Heaney and Cole',
 'merchant_transform__x0_Rempel Inc',
 'merchant_transform__x0_Rippin, Kub and Mann',
 'merchant_transform__x0_Robel, Cummerata and Prosacco',
 'merchant_transform__x0_Rodriguez Group',
 'merchant_transform__x0_Rodriguez, Yost and Jenkins',
 'merchant_transform__x0_Rohan, White and Aufderhar',
 'merchant_transform__x0_Romaguera, Cruickshank and Greenholt',
 'merchant_transform__x0_Roob, Conn and Tremblay',
 'merchant_transform__x0_Rowe, Batz and Goodwin',
 'merchant_transform__x0_Ruecker Group',
 'merchant_transform__x0_Ruecker, Beer and Collier',
 'merchant_transform__x0_Rutherford-Mertz',
 'merchant_transform__x0_Sawayn PLC',
 'merchant_transform__x0_Schaefer, Maggio and Daugherty',
 'merchant_transform__x0_Schaefer, McGlynn and Bosco',
 "merchant_transform__x0_Schamberger-O'Keefe",
 'merchant_transform__x0_Schmeler, Bashirian and Price',
 'merchant_transform__x0_Schmidt and Sons',
 'merchant_transform__x0_Schmitt Inc',
 'merchant_transform__x0_Schmitt Ltd',
 'merchant_transform__x0_Schoen, Kuphal and Nitzsche',
 'merchant_transform__x0_Schultz, Simonis and Little',
 'merchant_transform__x0_Schumm PLC',
 'merchant_transform__x0_Schumm, Bauch and Ondricka',
 'merchant_transform__x0_Schuppe, Nolan and Hoeger',
 'merchant_transform__x0_Stamm-Witting',
 'merchant_transform__x0_Stanton, Jakubowski and Baumbach',
 'merchant_transform__x0_Stehr, Jewess and Schimmel',
 'merchant_transform__x0_Stoltenberg-Beatty',
 'merchant_transform__x0_Stracke-Lemke',
 'merchant_transform__x0_Streich, Dietrich and Barton',
 'merchant_transform__x0_Streich, Hansen and Veum',
 'merchant_transform__x0_Stroman, Hudson and Erdman',
 'merchant_transform__x0_Strosin-Cruickshank',
 'merchant_transform__x0_Swaniawski, Lowe and Robel',
 'merchant_transform__x0_Terry-Huel',
 'merchant_transform__x0_Tillman, Dickinson and Labadie',
 'merchant_transform__x0_Tillman, Fritsch and Schmitt',
 'merchant_transform__x0_Torp-Labadie',
 'merchant_transform__x0_Torphy-Goyette',
 'merchant_transform__x0_Towne, Greenholt and Koepp',
 'merchant_transform__x0_Turner and Sons',
 'merchant_transform__x0_Vandervort-Funk',
 'merchant_transform__x0_Volkman Ltd',
 'merchant_transform__x0_Volkman-Predovic',
 'merchant_transform__x0_Watsica, Haag and Considine',
 'merchant_transform__x0_Weimann, Kuhic and Beahan',
 'merchant_transform__x0_Welch Inc',
 'merchant_transform__x0_Willms, Kris and Bergnaum',
 'merchant_transform__x0_Wolf Inc',
 'merchant_transform__x0_Zboncak, Rowe and Murazik',
 'merchant_transform__x0_Zemlak Group',
 'category_transform__x0_entertainment',
 'category_transform__x0_gas_transport',
 'category_transform__x0_grocery_pos',
 'category_transform__x0_misc_net',
 'category_transform__x0_misc_pos',
 'category_transform__x0_shopping_net',
 'category_transform__x0_shopping_pos',
 'first_tranform__x0_Aaron',
 'first_tranform__x0_Adam',
 'first_tranform__x0_Alan',
 'first_tranform__x0_Amanda',
 'first_tranform__x0_Amber',
 'first_tranform__x0_Andrea',
 'first_tranform__x0_Andrew',
 'first_tranform__x0_Angela',
 'first_tranform__x0_Angelica',
 'first_tranform__x0_Anthony',
 'first_tranform__x0_Arthur',
 'first_tranform__x0_Ashlee',
 'first_tranform__x0_Ashley',
 'first_tranform__x0_Audrey',
 'first_tranform__x0_Austin',
 'first_tranform__x0_Benjamin',
 'first_tranform__x0_Bradley',
 'first_tranform__x0_Brianna',
 'first_tranform__x0_Brittany',
 'first_tranform__x0_Bryan',
 'first_tranform__x0_Calvin',
 'first_tranform__x0_Cameron',
 'first_tranform__x0_Charles',
 'first_tranform__x0_Chelsea',
 'first_tranform__x0_Christie',
 'first_tranform__x0_Christina',
 'first_tranform__x0_Christine',
 'first_tranform__x0_Christopher',
 'first_tranform__x0_Colleen',
 'first_tranform__x0_Daniel',
 'first_tranform__x0_Danielle',
 'first_tranform__x0_David',
 'first_tranform__x0_Dawn',
 'first_tranform__x0_Deanna',
 'first_tranform__x0_Dennis',
 'first_tranform__x0_Derek',
 'first_tranform__x0_Dorothy',
 'first_tranform__x0_Eric',
 'first_tranform__x0_Erik',
 'first_tranform__x0_Francisco',
 'first_tranform__x0_Gary',
 'first_tranform__x0_George',
 'first_tranform__x0_Hannah',
 'first_tranform__x0_Heather',
 'first_tranform__x0_Jacob',
 'first_tranform__x0_Jacqueline',
 'first_tranform__x0_James',
 'first_tranform__x0_Jasmine',
 'first_tranform__x0_Jason',
 'first_tranform__x0_Jeffrey',
 'first_tranform__x0_Jennifer',
 'first_tranform__x0_Jeremy',
 'first_tranform__x0_Jerry',
 'first_tranform__x0_Jessica',
 'first_tranform__x0_Joanne',
 'first_tranform__x0_Jodi',
 'first_tranform__x0_Joe',
 'first_tranform__x0_John',
 'first_tranform__x0_Jonathan',
 'first_tranform__x0_Jose',
 'first_tranform__x0_Joseph',
 'first_tranform__x0_Joshua',
 'first_tranform__x0_Juan',
 'first_tranform__x0_Julie',
 'first_tranform__x0_Justin',
 'first_tranform__x0_Karen',
 'first_tranform__x0_Kathleen',
 'first_tranform__x0_Kenneth',
 'first_tranform__x0_Kevin',
 'first_tranform__x0_Kimberly',
 'first_tranform__x0_Krystal',
 'first_tranform__x0_Kyle',
 'first_tranform__x0_Larry',
 'first_tranform__x0_Lawrence',
 'first_tranform__x0_Linda',
 'first_tranform__x0_Lisa',
 'first_tranform__x0_Lori',
 'first_tranform__x0_Mark',
 'first_tranform__x0_Martin',
 'first_tranform__x0_Mary',
 'first_tranform__x0_Matthew',
 'first_tranform__x0_Meagan',
 'first_tranform__x0_Megan',
 'first_tranform__x0_Melissa',
 'first_tranform__x0_Michael',
 'first_tranform__x0_Micheal',
 'first_tranform__x0_Michelle',
 'first_tranform__x0_Misty',
 'first_tranform__x0_Molly',
 'first_tranform__x0_Monique',
 'first_tranform__x0_Nathan',
 'first_tranform__x0_Nicholas',
 'first_tranform__x0_Patricia',
 'first_tranform__x0_Patrick',
 'first_tranform__x0_Phyllis',
 'first_tranform__x0_Rachel',
 'first_tranform__x0_Randy',
 'first_tranform__x0_Richard',
 'first_tranform__x0_Robert',
 'first_tranform__x0_Robin',
 'first_tranform__x0_Ronald',
 'first_tranform__x0_Ryan',
 'first_tranform__x0_Samantha',
 'first_tranform__x0_Samuel',
 'first_tranform__x0_Sarah',
 'first_tranform__x0_Scott',
 'first_tranform__x0_Shannon',
 'first_tranform__x0_Stanley',
 'first_tranform__x0_Stephanie',
 'first_tranform__x0_Steven',
 'first_tranform__x0_Susan',
 'first_tranform__x0_Sydney',
 'first_tranform__x0_Tammy',
 'first_tranform__x0_Tanner',
 'first_tranform__x0_Tanya',
 'first_tranform__x0_Thomas',
 'first_tranform__x0_Traci',
 'first_tranform__x0_Victoria',
 'first_tranform__x0_Vincent',
 'first_tranform__x0_Whitney',
 'first_tranform__x0_William',
 'last_transform__x0_Adkins',
 'last_transform__x0_Aguilar',
 'last_transform__x0_Allen',
 'last_transform__x0_Anderson',
 'last_transform__x0_Arnold',
 'last_transform__x0_Baldwin',
 'last_transform__x0_Beck',
 'last_transform__x0_Benitez',
 'last_transform__x0_Bentley',
 'last_transform__x0_Bishop',
 'last_transform__x0_Blanchard',
 'last_transform__x0_Bonilla',
 'last_transform__x0_Boyd',
 'last_transform__x0_Bridges',
 'last_transform__x0_Briggs',
 'last_transform__x0_Brown',
 'last_transform__x0_Bryant',
 'last_transform__x0_Burns',
 'last_transform__x0_Cain',
 'last_transform__x0_Cannon',
 'last_transform__x0_Carpenter',
 'last_transform__x0_Carr',
 'last_transform__x0_Carrillo',
 'last_transform__x0_Carroll',
 'last_transform__x0_Carson',
 'last_transform__x0_Carter',
 'last_transform__x0_Castaneda',
 'last_transform__x0_Castro',
 'last_transform__x0_Chandler',
 'last_transform__x0_Chase',
 'last_transform__x0_Chavez',
 'last_transform__x0_Choi',
 'last_transform__x0_Collins',
 'last_transform__x0_Colon',
 'last_transform__x0_Conner',
 'last_transform__x0_Contreras',
 'last_transform__x0_Cooper',
 'last_transform__x0_Copeland',
 'last_transform__x0_Cross',
 'last_transform__x0_Cruz',
 'last_transform__x0_Cummings',
 'last_transform__x0_Curry',
 'last_transform__x0_Daniels',
 'last_transform__x0_Davis',
 'last_transform__x0_Dawson',
 'last_transform__x0_Dickerson',
 'last_transform__x0_Dickson',
 'last_transform__x0_Duarte',
 'last_transform__x0_Dunn',
 'last_transform__x0_Eaton',
 'last_transform__x0_Edwards',
 'last_transform__x0_Elliott',
 'last_transform__x0_Erickson',
 'last_transform__x0_Escobar',
 'last_transform__x0_Farrell',
 'last_transform__x0_Fisher',
 'last_transform__x0_Fitzgerald',
 'last_transform__x0_Fitzpatrick',
 'last_transform__x0_Fleming',
 'last_transform__x0_Flores',
 'last_transform__x0_Floyd',
 'last_transform__x0_Foley',
 'last_transform__x0_Ford',
 'last_transform__x0_Foster',
 'last_transform__x0_Fowler',
 'last_transform__x0_Fox',
 'last_transform__x0_Gallagher',
 'last_transform__x0_Garcia',
 'last_transform__x0_Gill',
 'last_transform__x0_Golden',
 'last_transform__x0_Gomez',
 'last_transform__x0_Gonzalez',
 'last_transform__x0_Goodman',
 'last_transform__x0_Gordon',
 'last_transform__x0_Gray',
 'last_transform__x0_Greene',
 'last_transform__x0_Gregory',
 'last_transform__x0_Grimes',
 'last_transform__x0_Guerra',
 'last_transform__x0_Hall',
 'last_transform__x0_Harris',
 'last_transform__x0_Hart',
 'last_transform__x0_Hawkins',
 'last_transform__x0_Hayden',
 'last_transform__x0_Haynes',
 'last_transform__x0_Henry',
 'last_transform__x0_Hernandez',
 'last_transform__x0_Hickman',
 'last_transform__x0_Holland',
 'last_transform__x0_Holt',
 'last_transform__x0_Hopkins',
 'last_transform__x0_Howard',
 'last_transform__x0_Hughes',
 'last_transform__x0_Hunter',
 'last_transform__x0_James',
 'last_transform__x0_Jenkins',
 'last_transform__x0_Johns',
 'last_transform__x0_Johnson',
 'last_transform__x0_Johnston',
 'last_transform__x0_Jones',
 'last_transform__x0_Jordan',
 'last_transform__x0_Joseph',
 'last_transform__x0_Juarez',
 'last_transform__x0_Kelly',
 'last_transform__x0_Kemp',
 'last_transform__x0_Key',
 'last_transform__x0_Kim',
 'last_transform__x0_Knight',
 'last_transform__x0_Le',
 'last_transform__x0_Lee',
 'last_transform__x0_Leon',
 'last_transform__x0_Lewis',
 'last_transform__x0_Long',
 'last_transform__x0_Lopez',
 'last_transform__x0_Marshall',
 'last_transform__x0_Martin',
 'last_transform__x0_Martinez',
 'last_transform__x0_Massey',
 'last_transform__x0_Mathews',
 'last_transform__x0_Mcbride',
 'last_transform__x0_Mccarthy',
 'last_transform__x0_Mccormick',
 'last_transform__x0_Mcdonald',
 'last_transform__x0_Mcgee',
 'last_transform__x0_Mcintyre',
 'last_transform__x0_Mclean',
 'last_transform__x0_Mcmahon',
 'last_transform__x0_Mendoza',
 'last_transform__x0_Molina',
 'last_transform__x0_Moody',
 'last_transform__x0_Moore',
 'last_transform__x0_Morales',
 'last_transform__x0_Morris',
 'last_transform__x0_Murphy',
 'last_transform__x0_Myers',
 'last_transform__x0_Nguyen',
 'last_transform__x0_Nixon',
 'last_transform__x0_Norris',
 'last_transform__x0_Nunez',
 'last_transform__x0_Orozco',
 'last_transform__x0_Padilla',
 'last_transform__x0_Page',
 'last_transform__x0_Park',
 'last_transform__x0_Parker',
 'last_transform__x0_Parsons',
 'last_transform__x0_Patel',
 'last_transform__x0_Patterson',
 'last_transform__x0_Payne',
 'last_transform__x0_Pena',
 'last_transform__x0_Perez',
 'last_transform__x0_Perkins',
 'last_transform__x0_Perry',
 'last_transform__x0_Peterson',
 'last_transform__x0_Phillips',
 'last_transform__x0_Potter',
 'last_transform__x0_Powell',
 'last_transform__x0_Powers',
 'last_transform__x0_Preston',
 'last_transform__x0_Price',
 'last_transform__x0_Ramirez',
 'last_transform__x0_Reese',
 'last_transform__x0_Rice',
 'last_transform__x0_Richards',
 'last_transform__x0_Riddle',
 'last_transform__x0_Rivera',
 'last_transform__x0_Roberson',
 'last_transform__x0_Roberts',
 'last_transform__x0_Robinson',

In [ ]:
# Transform the original dataset

transformed_col = column_transformer.transform(cc_df)

# Check that it worked
transformed_col

<128802x768 sparse matrix of type '<class 'numpy.float64'>'
	with 901614 stored elements in Compressed Sparse Row format>

In [ ]:
# Putting the info from transformed_col to a dataframe

transformed_df = pd.DataFrame(transformed_col.toarray(),
                              columns=column_transformer.get_feature_names(),
                              index=cc_df.index)

# Inspect that it worked
transformed_df.head()

,"merchant_transform__x0_Altenwerth, Cartwright and Koss",merchant_transform__x0_Ankunding LLC,merchant_transform__x0_Auer-Mosciski,merchant_transform__x0_Auer-West,"merchant_transform__x0_Bahringer, Schoen and Corkery",merchant_transform__x0_Bailey-Morar,merchant_transform__x0_Barrows PLC,merchant_transform__x0_Bartoletti-Wunsch,merchant_transform__x0_Barton Inc,merchant_transform__x0_Bashirian Group,...,job_transform__x0_Surveyor,job_transform__x0_Teacher,job_transform__x0_Television production assistant,job_transform__x0_Television/film/video producer,job_transform__x0_Therapist,job_transform__x0_Trading standards officer,job_transform__x0_Transport planner,job_transform__x0_Tree surgeon,job_transform__x0_Veterinary surgeon,job_transform__x0_Warehouse manager
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Concat the transformed_df and original dataframe together

cc_df = pd.concat([cc_df, transformed_df], axis=1)

Now that's been done, the original columns that were transformed will be dropped from the dataframe.

1. merchant
2. category
3. first
4. last
5. gender
6. state
7. job

In [ ]:
# Drop the columns
cc_df.drop(['merchant', 'category', 'first', 'last', 'gender', 'state', 'job'], axis=1, inplace=True)

# Check that it worked
cc_df.head()

,cc_num,amt,street,city,zip,lat,long,city_pop,unix_time,merch_lat,...,job_transform__x0_Surveyor,job_transform__x0_Teacher,job_transform__x0_Television production assistant,job_transform__x0_Television/film/video producer,job_transform__x0_Therapist,job_transform__x0_Trading standards officer,job_transform__x0_Transport planner,job_transform__x0_Tree surgeon,job_transform__x0_Veterinary surgeon,job_transform__x0_Warehouse manager
5,4767265376804500,94.63,4655 David Island,Dublin,18917,40.3750,-75.2045,2158,1325376248,40.653382,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,6011360759745864,71.65,231 Flores Pass Suite 720,Edinburg,22824,38.8432,-78.6003,6018,1325376308,38.948089,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,180042946491150,71.22,3337 Lisa Divide,Saint Petersburg,33710,27.7898,-82.7243,341043,1325376416,27.630593,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,3514865930894695,7.77,1632 Cohen Drive Suite 639,High Rolls Mountain Park,88325,32.9396,-105.8189,899,1325376543,32.863258,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,6011999606625827,3.26,870 Rocha Drive,Harrington Park,7640,40.9918,-73.9800,4664,1325376560,41.831174,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Also drop the street and city since they are represented by other numeric columns

cc_df.drop(["street", "city"], axis=1, inplace=True)

# Check the shape of the new dataset
cc_df.shape

(128802, 783)

In [ ]:
# See the final dataset

cc_df.head()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,...,job_transform__x0_Surveyor,job_transform__x0_Teacher,job_transform__x0_Television production assistant,job_transform__x0_Television/film/video producer,job_transform__x0_Therapist,job_transform__x0_Trading standards officer,job_transform__x0_Transport planner,job_transform__x0_Tree surgeon,job_transform__x0_Veterinary surgeon,job_transform__x0_Warehouse manager
5,4767265376804500,94.63,18917,40.3750,-75.2045,2158,1325376248,40.653382,-76.152667,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,6011360759745864,71.65,22824,38.8432,-78.6003,6018,1325376308,38.948089,-78.540296,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,180042946491150,71.22,33710,27.7898,-82.7243,341043,1325376416,27.630593,-82.308891,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,3514865930894695,7.77,88325,32.9396,-105.8189,899,1325376543,32.863258,-106.520205,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,6011999606625827,3.26,7640,40.9918,-73.9800,4664,1325376560,41.831174,-74.335559,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Check to make sure there are no more categorical columns

cc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128802 entries, 5 to 1296642
Columns: 783 entries, cc_num to job_transform__x0_Warehouse manager
dtypes: float64(773), int64(10)
memory usage: 770.4 MB

In [ ]:
# Save the new dataset to be used for modeling

cc_df.to_csv('model_ready_dataset.csv')
!cp model_ready_dataset.csv "/content/drive/MyDrive/Colab Notebooks/data"

# Summary

This notebook focused on transforming the categorical columns in the clean dataset to numeric columns for the purpose of modeling.

In the next notebook: **'Tolulope_Oludemi - Notebook #3 - Modeling'**, models will be conducted on the dataset, and the best model will be optimized to get better performance. The next notebook will also discuss some insights and summary of findings with practical applications and next steps.